@primary-color: #6c25be;

@font-face {
  font-family: "Caveat";
  src: url("../public/assets/fonts/Caveat.ttf") format("truetype");
}

@font-face {
  font-family: "IndieFlower";
  src: url("../public/assets/fonts/IndieFlower.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
