.ErrorPage404 {
  width: 50%;
  height: 30%;
  background-color: white;
  color: black;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 25px;
}

.ErrorContent {
  padding: 3% 7% 2%;
}
