.body_content {
  padding: 20% 8% 0;
}

.content {
  margin: 0%;
}

h1.content {
  font-family: "Times New Roman";
  font-size: 5vh;
}

h2.content {
  font-family: "IndieFlower";
  font-size: 2.5vh;
}

.flat_button {
  color: #951be6;
  font-size: 13px;
  font-weight: 750;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #951be6;
  margin-top: 25px;
  margin-left: 10px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
}

.flat_button:hover {
  background: #951be6;
  color: #000;
  font-weight: 750;
}
